* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(100vw/1440);
    transition: 0.6s;
}

html, body {
    background: var(--f-7-fbfa, #F7FBFA);
}

a {
    text-decoration: none;
}

.header-ask-sm {
    display: none;
}

.header-ask-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14rem 18rem;
    border-radius: 8px;
    background: var(--02-a-69-b, #02A69B);
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-ask-sm:hover {
    background: rgba(2, 166, 155, 0.50);

    /* Drop Shadow */
    box-shadow: 0px 4px 12px 0px rgba(2, 166, 155, 0.10);
}

/* ============header============== */

header {
    background: url('./img/top.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 410rem;
    z-index: 100;
}

nav {
    width: 1440rem;
    height: auto;
    padding-left: 80rem;
    padding-right: 80rem;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 47px;
    margin-top: 40px;
    z-index: 9999;
}

.nav {
    width: 599rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 160rem;
}


.nav-list {
    width: 372rem;
    display: flex;
    justify-content: space-between;
    gap: 28rem;
}

.nav-list-1 {
    width: 372rem;
    display: flex;
    justify-content: space-between;
    gap: 28rem;
}

.nav-list-1 a {
    width: 52rem;
    color: var(--ffffff, #FFF);
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-list-1 a:hover {
    color: rgba(255, 255, 255, 0.50);
}

.nav-list a {
    width: 52rem;
    color: var(--ffffff, #FFF);
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-list a:hover {
    color: rgba(255, 255, 255, 0.50);
}

.header-btn {
    width: 266rem;
    display: flex;
    justify-content: space-between;
    gap: 12rem;
}

.header-support {
    padding: 14rem 18rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--007-c-72, #007C72);
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border-radius: 8px;
    background: var(--ffffff, #FFF);
}

.header-support-1 {
    padding: 14rem 18rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--007-c-72, #007C72);
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border-radius: 8px;
    background: var(--ffffff, #FFF);
}

.header-support:hover {
    background: rgba(255, 255, 255, 0.50);
}

.header-support-1:hover {
    background: rgba(255, 255, 255, 0.50);
}

.header-ask {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14rem 18rem;
    border-radius: 8px;
    background: var(--02-a-69-b, #02A69B);
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.header-ask-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14rem 18rem;
    border-radius: 8px;
    background: var(--02-a-69-b, #02A69B);
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-ask:hover {
    background: rgba(2, 166, 155, 0.50);

    /* Drop Shadow */
    box-shadow: 0px 4px 12px 0px rgba(2, 166, 155, 0.10);
}

.header-ask-1:hover {
    background: rgba(2, 166, 155, 0.50);

    /* Drop Shadow */
    box-shadow: 0px 4px 12px 0px rgba(2, 166, 155, 0.10);
}

.login-top-text {
    padding-top: 164rem;
}

.login-top-text h1 {
    color: var(--ffffff, #FFF);
    font-family: Outfit;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 44px */
    padding-left: 160rem;
}

.login-top-text .h2 {
    color: #FFF;
    font-family: Noto Sans JP;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.6px;
    padding-top: 9rem;
    padding-bottom: 164rem;
    padding-left: 160rem;
}

.bread {
    display: flex;
    justify-content: flex-start;
    width: 1120rem;
    padding: 34rem 44rem 36rem 44rem;
    border-radius: 8px;
    background: var(--ffffff, #FFF);
    box-shadow: 0px 8px 18px 0px rgba(15, 29, 35, 0.05);
    gap: 10rem;
    margin: auto;
    margin-top: -44rem;
    height: 88rem;
}

.bread h2 {
    color: var(--02-a-69-b, #02A69B);
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 18px */
}

.bread img {
    width: 7.38rem;
}

.bread h3 {
    color: var(--main-blk, #051621);
    font-family: Noto Sans JP;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

/* ---------side bar---------------- */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* ==========CEO message=========== */

.ceo {
    width: 1440rem;
    padding: 151rem 240rem 98rem 239rem;
}

.ceo-message {

    display: flex;
    justify-content: space-between;
}

.ceo-left {
    width: 666rem;
}

.ceo-left h1 {
    color: var(--02-a-69-b, #02A69B);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 21px */
    letter-spacing: 0.42px;
    padding-bottom: 7rem;
}

.ceo-left h2 {
    color: var(--0-f-1-d-23, #011A21);
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 32px */
    padding-bottom: 30rem;
}

.ceo-left h3 {
    color: var(--0-f-1-d-23, #011A21);
    font-family: Noto Sans JP;
    font-size: 22px;
    font-style: normal;
    fh4ont-weight: 500;
    line-height: 170%;
    /* 37.4px */
    padding-bottom: 28rem;
}

.ceo-left hr {
    border-top: 1px solid #02A69B;
    width: 40px;
}

.ceo-text {
    width: 666rem;
}

.ceo-left h4 {
    color: #434B4D;
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    /* 22.1px */
    padding-bottom: 29rem;
    padding-top: 33.5rem;
}

.ceo-text h5 {
    color: var(--0-f-1-d-23, #011A21);
    text-align: right;
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
    padding-bottom: 6rem;
}

.ceo-text h6 {
    color: var(--0-f-1-d-23, #011A21);
    text-align: right;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
}

.ceo-right img {
    width: 212rem;
}

/* ------------company------------- */

.company {
    width: 1360rem;
    padding: 92rem 199rem 85rem 161rem;
    margin-left: auto;
    margin-right: 0;
    border-radius: 8px 0px 0px 0px;
    background: var(--edf-5-f-5, #EFF6F6);
}

.company-top h2 {
    color: var(--02-a-69-b, #02A69B);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.42px;
    padding-bottom: 7rem;
}

.company-top h1 {
    color: var(--0-f-1-d-23, #011A21);
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    padding-bottom: 32rem;
}

.company-top hr {
    border-top: 1px solid #02A69B;
    width: 40px;
}

.company-content {
    display: flex;
    justify-content: space-between;
    padding-top: 71rem;
}

.company-content .left {
    width: 500rem;
}

.company-content .left h2 {
    color: var(--007-c-72, #007C72);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 8rem;
}

.company-content .left h1 {
    color: var(--0-f-1-d-23, #011A21);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 23rem;
}

.company-content .left hr {
    width: 480rem;
    border-top: 1px solid #D7E2E5;
    margin-bottom: 23rem;
}

.company-content .right {
    width: 480rem;
}

.company-content .right h1 {
    color: var(--007-c-72, #007C72);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 8rem;
}

.company-content ul {
    padding-bottom: 23rem;
}

.company-content .right ul li {
    color: var(--0-f-1-d-23, #011A21);
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 22.1px */
    list-style-position: inside;
}

.company-content .right hr {
    width: 480rem;
    border-top: 1px solid #D7E2E5;
    margin-bottom: 24rem;
}

.right-text {
    width: 480rem;
    padding-bottom: 10rem;
}

.right-text h2 {
    color: var(--0-f-1-d-23, #011A21);
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 20.8px */
}

.right-text h3 {
    color: var(--7-e-8-b-8-e, #7E8B8E);
    font-family: Noto Sans JP;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.one {
    margin-bottom: 0;
    margin-top: 28rem;
}

/* -----------history------------- */

.history {
    width: 1360rem;
    margin-right: 0;
    margin-left: auto;
    padding: 100rem 240rem 117.51rem 160rem;
    border-radius: 8px 0px 0px 0px;
    background: var(--0-f-1-d-23, #011A21);
}

.history-top h2 {
    color: var(--00-cdc-0, #00CDC0);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.42px;
    padding-bottom: 7rem;
}

.history-top h1 {
    color: var(--ffffff, #FFF);
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    padding-bottom: 32rem;
}

.history-top hr {
    border-top: 1px solid #02A69B;
    width: 40px;
}

.history-content {
    padding-top: 69rem;
}

.history-element {
    display: flex;
    justify-content: flex-start;
}

.history-element h1 {
    margin-right: 24rem;
    color: var(--00-cdc-0, #00CDC0);
    text-align: right;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; /* 25.5px */
}

.history-element img {
    margin-right: 24rem;
}

.history-element h2 {
    color: var(--ffffff, #FFF);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
}

.history-element-1 {
    display: flex;
    justify-content: flex-start;
}

.history-element-1 h1 {
    margin-right: 24rem;
    color: var(--00-cdc-0, #00CDC0);
    text-align: right;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; /* 25.5px */
}

.history-element-1 img {
    margin-right: 24rem;
}

.history-element-1 h2 {
    color: var(--ffffff, #FFF);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
}

/* ==============access============== */



/* ==================footer================ */

/* --------support------------- */

/* =========footer================= */

.footer-first {
    width: 1280rem;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 96rem;
    padding-top: 262rem;
}

.footer-first .support {
    width: 640rem;
    background: url('../img/support.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 76rem 69rem 72rem 80rem;
}

.support h1 {
    color: var(--ffffff, #FFF);
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    padding-bottom: 11rem;
}

.support h2 {
    color: var(--ffffff, #FFF);
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    padding-bottom: 130rem;
}

.support-bottom {
    width: 525rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support-bottom h3 {
    color: var(--ffffff, #FFF);
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.support-1 {
    width: 640rem;
    border-radius: 0px 8px 8px 0px;
    background: var(--007-c-72, #007C72);    
    padding: 76rem 69rem 72rem 80rem;
}

.support-1 h1 {
    color: var(--ffffff, #FFF);
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    padding-bottom: 11rem;
}

.support-1 h2 {
    color: var(--ffffff, #FFF);
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    padding-bottom: 116rem;
}

.support:hover {
    cursor: pointer;
}

.support:hover {
    background: url('../img/support-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.support:hover svg {
    transform: scale(1.2);
    color: #00CDC0;
}

.support-1:hover {
    cursor: pointer;
    background: var(--02-a-69-b, #02A69B);
}

.support-1:hover svg {
    transform: scale(1.2);
}

.support-1:hover circle {
    fill: #00CDC0;
}

.support:hover circle {
    fill: #00CDC0;}

.footer-second {
    width: 1440rem;
    background: var(--0-f-1-d-23, #011A21);
    padding: 69rem 80rem 97rem 79rem;
}

.footer-second p {
    color: var(--ffffff, #FFF);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
    padding-top: 37px;
}

.gap {
    gap: 434rem;
}

.footer-hr {
    display: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.navbar-1 {
    display: flex;
    justify-content: space-between;
    height: 47px;
    margin-top: 40px;
}

.nav-1 {
    width: 599rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-1 {
    width: 160rem;
}

.gap-1 {
    gap: 434rem;
}

.list-size {
    width: 1152rem;
}

.div-list {
    width: 52px;
}

/* ==========map part============== */

.access {
    width: 1440rem;
    background: url('./img/access.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 423rem;
    padding: 82rem 200rem 270rem 240rem;
}

.access h3 {
    color: var(--00-cdc-0, #00CDC0);
    font-family: Noto Sans JP;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.42px;
    padding-bottom: 7rem;
}

.access-text {
    display: flex;
    justify-content: space-between;
}

.access-text h1 {
    color: var(--ffffff, #FFF);
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
}

.access-text h3 {
    color: var(--ffffff, #FFF);
    text-align: right;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

iframe {
    width: 1001rem;
    height: 496rem;
    padding-top: 60rem;
    padding-bottom: 56rem;
}